{{page-title 'MyPokemons'}}
<div class='pokemons-container'>
  {{#each this.collection.pokemons as |pokemon|}}
  <div class="btn-group">
<LinkTo @route='pokemons.pokemon' @model={{pokemon.id}}>
      <ProfileCard
        @profileName={{pokemon.name}}
        @profileImg={{pokemon.image}}
      />
    </LinkTo>
    <button type="button" class="btn btn-warning"{{on "click" (fn this.handleRelease pokemon.id)}}>Release</button>
  </div>
  {{else}}
      <p>No pokemons found !</p>
  {{/each}}
</div>